APP_ENV=local

DATABASE_URL=postgresql+psycopg://energy_user:energy_password@localhost:5432/energy_pipeline

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_TOPIC=energy.market.raw.v1
KAFKA_CONSUMER_GROUP=energy-market-ingestion-v1

GENERATOR_MARKET_AREAS=DK1,DK2,DE,SE3,NO2
GENERATOR_SOURCE=energy-generator